.wrapper {
  padding: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
  box-shadow: 2px 14px 24px rgba(0, 0, 0, .1);
  border-radius: 10px;
  background: var(--color-core-bg);
  max-width: 44rem;
}

.web-subscribe {
  background: var(--color-mid-bg);
  min-height: -webkit-fill-available;
}

.button {
  width: 100%;
  display: unset;
  padding: 1.1em 1em;
}

.gap-top-size-2 {
  margin-top: 2rem;
}

.outside {
  text-align: center;
  margin-top: var(--flow-space, 1em);
  max-width: 25rem;
}

.outside-1 {
  text-align: center;
  max-width: 30rem;
}

.linebreak {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  white-space: nowrap;
}

.linebreak::after, .linebreak::before {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  margin: 0 8px;
  background-color: var(--color-shades-gray-bright);
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: gainsboro;
}
@media (min-width:1281px) {
  .line-1 {
    width: 10rem;
    position: absolute;
    left: calc(50% + 405px);
    top: 16rem;
    transform: skewY(-12deg);
    height: 40px;
    background-color: var(--color-core-primary-glare);
  }

  .line-2 {
    width: 7rem;
    position: absolute;
    left: calc(50% + 405px);
    top: 14rem;
    transform: skewY(-12deg);
    height: 30px;
    background-color: lightblue;
  }

  .line-3 {
    width: 10rem;
    position: absolute;
    right: calc(50% + 405px);
    top: 25rem;
    transform: skewY(-12deg);
    height: 40px;
    background-color: var(--color-core-primary-glare);
  }

  .line-4 {
    width: 8rem;
    position: absolute;
    right: calc(50% + 405px);
    top: 28rem;
    transform: skewY(-12deg);
    height: 30px;
    background-color: lightblue;
  }
}

