<main id="main">
  <div class="about">

    <div class="web-subscribe">
      <div class="wrapper">
        <div class="flow all-center headline"><h2 class="headline__title">Create your Apicrypto Account</h2>
        </div>
<!--        <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)"-->
            <form  [formGroup]="signupForm" class="flow gap-top-size-2" method="post">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
<!--          <div class="switcher">-->
<!--            <mat-form-field appearance="outline">-->
<!--              <mat-label>Password</mat-label>-->
<!--              <input formControlName="password" matInput placeholder="Password">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="outline">-->
<!--              <mat-label>Confirm</mat-label>-->
<!--              <input matInput placeholder="Confirm">-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          <div class="all-center"><p class="color-mid-text">Don't worry, no spam here! Your information will only be-->
<!--            used for web.dev and Chrome related updates and our emails are typically no more than 1-2 times a month. You-->
<!--            can unsubscribe anytime.</p></div>-->
          <div class="cluster gutter-base flex-align-start gap-top-size-2">
            <input id="sub-newsletter" type="checkbox" name="WebDevNewsletter" required="" value="Unconfirmed">
            <label for="sub-newsletter">Add me to the apicrypto.com mailing list.</label>
          </div>
          <div class="cluster gutter-base flex-align-start">
            <input id="sub-pii-spii" type="checkbox" name="collects-pii-spii-checkbox" required="" value="Unconfirmed">
            <label for="sub-pii-spii">I accept Apicrypto's <a href="https://policies.google.com/terms" rel="noopener" target="_blank">Terms and
              Conditions</a> and acknowledge that my information will be used in accordance with Apicrypto's <a
              href="https://policies.google.com/privacy" rel="noopener" target="_blank">Privacy Policy</a>.
            </label>
          </div>
          <div class="all-center gap-top-size-1">
            <div>
              <button class="button" data-type="primary" type="submit">subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="line-4"></div>
  </div>
</main>
