<main id="main">
  <div class="about">

    <div class="web-subscribe">
      <div class="wrapper">
        <div class="flow all-center headline"><h2 class="headline__title">Create your Apicrypto Account</h2>
        </div>
<!--        <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)"-->
          <form  [formGroup]="signupForm" (ngSubmit)="signup()" class="flow gap-top-size-2" method="post">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" autofocus>
          </mat-form-field>
            <span class="mat-error" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
              <i class="pi pi-exclamation-circle"></i> Please provide a valid email address
            </span>
          <div class="switcher">
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Confirm</mat-label>
              <input formControlName="confirmPassword" matInput placeholder="Confirm">
            </mat-form-field>
          </div>
          <span class="mat-error" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched; else second">
            <i class="pi pi-exclamation-circle"></i> Use 8 characters or more for your password
          </span>
          <ng-template #second>
            <span class="mat-error" *ngIf="signupForm.get('password').value!=signupForm.get('confirmPassword').value && signupForm.get('confirmPassword').touched">
            <i class="pi pi-exclamation-circle"></i> Passwords do not match
          </span>
          </ng-template>
          <div class="cluster gutter-base flex-align-start gap-top-size-2">
            <input id="sub-newsletter" type="checkbox" name="WebDevNewsletter" required="" value="Unconfirmed">
            <label for="sub-newsletter">Add me to the apicrypto.com mailing list.</label>
          </div>
          <div class="cluster gutter-base flex-align-start">
            <input id="sub-pii-spii" type="checkbox" formControlName="acceptPolicy">
            <label for="sub-pii-spii">I accept Apicrypto's <a href="https://policies.google.com/terms" rel="noopener" target="_blank">Terms and
              Conditions</a> and acknowledge that my information will be used in accordance with Apicrypto's <a
              href="https://policies.google.com/privacy" rel="noopener" target="_blank">Privacy Policy</a>.
            </label>
          </div>
          <div class="all-center gap-top-size-1">
            <div>
              <button class="button" data-type="primary" type="submit">subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="line-4"></div>
  </div>
</main>
