.chart-box {
  max-width: 650px;
  margin: 35px auto;
}
#chart-candlestick,
#chart-bar {
  max-width: 640px;
}

/*s@todo de sters in sus*/
 .apexcharts-toolbar-custom-icon{
  cursor: pointer;

  height: fit-content;
  line-height: 15px;
  color: #6E8192;
  text-align: center;
}

.mat-button-toggle-button{
  padding: 2px;
}
