<main id="main">
  <div class="about">
<!--@todo All forms can be send regardless the fields constraints -->
    <div class="web-subscribe">
      <div class="wrapper">
        <div class="flow all-center headline"><h2 class="headline__title">Create your new password</h2>
        </div>
        <form  [formGroup]="recoverPasswordForm" (ngSubmit)="resetPassword()" class="flow gap-top-size-2" method="post">
          <span *ngIf="errorMessage" class="mat-error ng-star-inserted">
            <i class="pi pi-exclamation-circle"></i>
            {{errorMessage}}
          </span>
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Confirm</mat-label>
              <input formControlName="confirmPassword" matInput placeholder="Confirm">
            </mat-form-field>
          <span class="mat-error" *ngIf="!recoverPasswordForm.get('password').valid && recoverPasswordForm.get('password').touched; else second">
            <i class="pi pi-exclamation-circle"></i> Use 8 characters or more for your password
          </span>
          <ng-template #second>
            <span class="mat-error" *ngIf="recoverPasswordForm.get('password').value!=recoverPasswordForm.get('confirmPassword').value && recoverPasswordForm.get('confirmPassword').touched">
            <i class="pi pi-exclamation-circle"></i> Passwords do not match
          </span>
          </ng-template>
          <div class="all-center gap-top-size-1">
            <div>
              <button class="button" data-type="primary" type="submit">change password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="line-4"></div>
  </div>
</main>
